html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100&display=swap');

.container{
    padding: 7px;
    background: linear-gradient(180deg, rgba(143,143,241,1) 26%, rgba(8,208,255,1) 85%, rgba(0,212,255,1) 100%);    
    color:white;
    font-family: 'Poppins', sans-serif;
}

.section {
    padding: 1rem;
}

hr{
    width: 70%;
    border: 1px solid rgb(255, 255, 255, 70%);
    border-radius: 10px;
    height: 85%;
}

.top-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
        margin-top: 1rem;
    }

    .search-bar{
        margin:0;
        width: 100%;
    
        input{
            border-radius: 10px;
        }
    }

    .today-weather{
        padding:1rem;
    
        .location-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;

            .location-name{
                font-family: 'Poppins', sans-serif;
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 0.4rem;

                img{
                    width: 0.75rem;
                    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(30deg) brightness(107%) contrast(107%);
                }
            }

            .location-region, .location-day, .location-hour{
                opacity: 0.6;
                text-align: center;
            }
        }
        
        .weather-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.2rem;

            
            & > * {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            .first{
                .weather-temp{
                    font-size: 4rem;
                    margin-top: 0;
                    display: flex;
                    justify-content: center;
    
                    img{
                        margin-right: 0.2rem;
                        width:20%;
                        filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(30deg) brightness(107%) contrast(107%);
                    }
                }
            }
            
            .second{
                margin-top: 0.8rem;

                .weather-feels-like{
                    margin-top: 0.2rem;
                }
            }
        }    
    }
    
    .today-stats{
        background-color: rgb(255, 255, 255, 20%);
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 0;
        border-radius: 10px;
        margin-top: 0;

        b {
            font-size: 1rem;
            font-weight: 800;
            color: rgb(255, 255, 255);
        }
    }
}

.mid-screen{
    display: flex;
    justify-content: center;
    align-items: center;

    .today-temps{
        display: flex;
        width: 100%;
        margin:0.2rem;

        .temp-card {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgb(255, 255, 255, 20%);
            border-radius: 10px;
            width: 4rem;
            flex: 1 0 0;
            margin: 0.3rem;
            
            & > *{
                padding: 0.7rem;
            }

            .temp-temp{
                font-size: 1.2rem;
                margin-top:0.2rem;
            }
        }

        img{
            width: 2rem;
            filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(30deg) brightness(107%) contrast(107%);
        }
    }
}

.bottom-screen{
    display: flex;
    
    .forecast-card{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;

        .tomorrow-card{
            display: flex;
            flex: 1 0 0;
            justify-content: space-evenly;
            text-align: center;   
            flex-direction: column;
            padding: 1rem;
            margin: 0 1rem;

            background-color: rgb(255, 255, 255, 20%);
            border-radius: 10px;

            .tomorrow-title{
                margin-bottom: 1rem;
            }

            .tomorrow-data{
                display: flex;
                justify-content: center;
                text-align: left;
                
                & > * {
                    margin: 0.2rem;
                }

                img{
                    width: 2.5rem;
                    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(30deg) brightness(107%) contrast(107%);
                }
            }
        }

    }
}


// Searchbar https://shipow.github.io/searchbox/#tabscss 


$custom:(
	input-width: 40%,
	input-height: 36px,
	border-width: 1px,
	border-radius: 18px,
	input-border-color: #D9D9D9,
	input-focus-border-color: #AAAAAA,
	input-background: #FFFFFF,
	input-focus-background: #FFFFFF,
	font-size: 13px,
	placeholder-color: #AAAAAA,
	icon: sbx-icon-search-13,
	icon-size: 16px,
	icon-position: left,
	icon-color: #666666,
	icon-background: #FFFFFF,
	icon-background-opacity: 0,
	icon-clear: sbx-icon-clear-2,
	icon-clear-size: 12px
);


@function even-px($value) {
  @if type-of($value) == 'number' {
    @if (unitless($value)) {
      $value: $value * 1px;
    } @else if unit($value) == 'em' {
      $value: ($value / 1em * 16px);
    } @else if unit($value) == 'pts' {
      $value: $value * 1.3333 * 1px;
    } @else if unit($value) == '%' {
      $value: $value * 16 / 100% * 1px;
    };
    $value: round($value);
    @if ($value % 2 != 0) {
      $value: $value + 1;
    }
    @return $value;
  }
}

@mixin searchbox(
  $font-size: 90%,
  $input-width: 350px,
  $input-height: $font-size * 2.4,
  $border-width: 1px,
  $border-radius: $input-height / 2,
  $input-border-color: #ccc,
  $input-focus-border-color: #1ec9ea,
  $input-background: #f8f8f8,
  $input-focus-background: #fff,
  $placeholder-color: #aaa,
  $icon: 'sbx-icon-search-1',
  $icon-size: $input-height / 1.6,
  $icon-position: left,
  $icon-color: #888,
  $icon-background: $input-focus-border-color,
  $icon-background-opacity: .1,
  $icon-clear: 'sbx-icon-clear-1',
  $icon-clear-size: $font-size / 1.1
) {
  display: inline-block;
  position: relative;
  width: $input-width;
  height: even-px($input-height);
  white-space: nowrap;
  box-sizing: border-box;
  font-size: $font-size;

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__input {
    display: inline-block;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: even-px($border-radius);
    box-shadow: inset 0 0 0 $border-width $input-border-color;
    background: $input-background;
    padding: 0;
    padding-right: if($icon-position == 'right', even-px($input-height) + even-px($icon-clear-size) + 8px, even-px($input-height * .8))
              + if($icon-background-opacity == 0, 0, even-px($font-size));
    padding-left: if($icon-position == 'right',
              even-px($font-size / 2) + even-px($border-radius / 2),
              even-px($input-height) + if($icon-background-opacity == 0, 0, even-px($font-size * 1.2)));
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &:hover {
      box-shadow: inset 0 0 0 $border-width darken($input-border-color, 10%);
    }

    &:focus,
    &:active {
      outline: 0;
      box-shadow: inset 0 0 0 $border-width $input-focus-border-color;
      background: $input-focus-background;
    }

    &::placeholder {
      color: $placeholder-color;
    }

  }

  &__submit {
    position: absolute;
    top: 0;
    @if $icon-position == 'right' {
      right: 0;
      left: inherit;
    } @else {
      right: inherit;
      left: 0;
    }
    margin: 0;
    border: 0;
    border-radius: if($icon-position == 'right', 0 $border-radius $border-radius 0, $border-radius 0 0 $border-radius);
    background-color: rgba($icon-background, $icon-background-opacity);
    padding: 0;
    width: even-px($input-height) + if($icon-background-opacity == 0, 0, even-px($font-size / 2));
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    user-select: none;

    // Helper for vertical alignement of the icon
    &::before {
      display: inline-block;
      margin-right: -4px;
      height: 100%;
      vertical-align: middle;
      content: '';
    }

    &:hover,
    &:active {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }

    svg {
      width: even-px($icon-size);
      height: even-px($icon-size);
      vertical-align: middle;
      fill: $icon-color;
    }
  }

  &__reset {
    display: none;
    position: absolute;
    top: (even-px($input-height) - even-px($icon-clear-size)) / 2 - 4px;
    right: if($icon-position == 'right',
      even-px($input-height) + if($icon-background-opacity == 0, 0 , even-px($font-size)),
      (even-px($input-height) - even-px($icon-clear-size)) / 2 - 4px);
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    user-select: none;
    fill: rgba(#000, .5);

    &:focus {
      outline: 0;
    }

    svg {
      display: block;
      margin: 4px;
      width: even-px($icon-clear-size);
      height: even-px($icon-clear-size);
    }
  }

  &__input:valid ~ &__reset {
    display: block;
    animation-name: sbx-reset-in;
    animation-duration: .15s;
  }

  @at-root{
    @keyframes sbx-reset-in {
      0% {
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
      }

      100% {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.sbx-medium{
	@include searchbox($custom...);
}